@font-face {
  font-family: 'Aeroport';
  src: local('Aeroport Light'), local('Aeroport-Light'),
      url('../fonts/Aeroport-Light.woff2') format('woff2'),
      url('../fonts/Aeroport-Light.woff') format('woff'),
      url('../fonts/Aeroport-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Aeroport';
  src: local('Aeroport Regular'), local('Aeroport-Regular'),
      url('../fonts/Aeroport.woff2') format('woff2'),
      url('../fonts/Aeroport.woff') format('woff'),
      url('../fonts/Aeroport.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Aeroport';
  src: local('Aeroport Bold'), local('Aeroport-Bold'),
      url('../fonts/Aeroport-Bold.woff2') format('woff2'),
      url('../fonts/Aeroport-Bold.woff') format('woff'),
      url('../fonts/Aeroport-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Apercu Pro';
  src: local('Apercu Pro Regular'), local('Apercu-Pro-Regular'),
      url('../fonts/ApercuPro-Regular.woff2') format('woff2'),
      url('../fonts/ApercuPro-Regular.woff') format('woff'),
      url('../fonts/ApercuPro-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Apercu Pro';
  src: local('Apercu Pro Bold'), local('Apercu-Pro-Bold'),
      url('../fonts/ApercuPro-Bold.woff2') format('woff2'),
      url('../fonts/ApercuPro-Bold.woff') format('woff'),
      url('../fonts/ApercuPro-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
