/*
* Grid
* Column width: 80px
* Column gap: 30px
* Columns amount: 12
*/

.g1 {
  width: 80px;
}

.g2 {
  width: 190px;
}

.g3 {
  width: 300px;
}

.g4 {
  width: 410px;
}

.g5 {
  width: 520px;
}

.g6 {
  width: 630px;
}

.g7 {
  width: 740px;
}

.g8 {
  width: 850px;
}

.g9 {
  width: 960px;
}

.g10 {
  width: 1070px;
}

.g11 {
  width: 1180px;
}

.g12 {
  width: 1290px;
}

.m1 {
  margin-right: 30px;
}

.m2 {
  margin-right: 140px;
}

.ps {
  padding-left: 185px;
  padding-right: 185px;
}

.pl {
  padding-left: 185px;
}

.pr {
  padding-right: 185px;
}

.msa {
  margin-left: auto;
  margin-right: auto;
}
