@media (min-width: $min-desktop-width), (max-width: $max-desktop-width) {

  .control {
    display: flex;
    justify-content: center;
    width: fit-content;
    margin-left: auto;
    padding: 18px 40px;
    background-color: #ffffff;


    &.theme--light {
      background-color: #C94D18;
    }

    &.theme--light &__text {
      color: #ffffff;
    }

    &__text {
      font-size: 14px;
      font-weight: 700;
      line-height: 1.4;
      letter-spacing: 0.5px;
      text-transform: uppercase;
      color: #C94D18;
    }

    &:hover,
    &:focus {
      background-color: #C94D18;
    }

    &:hover &__text,
    &:focus &__text {
      color: #ffffff;
    }

    &:active {
      opacity: 0.5;
    }
  }
}
