@media (min-width: $min-desktop-width) {

  .deals {
    padding-top: 150px;

    &__body {
      display: flex;
      padding-top: 145px;
      padding-bottom: 150px;
      background-color: #F7F7F7;
    }

    &__list {
      display: flex;
    }
  }
}
