@media (min-width: $min-desktop-width) {

  .feedback {
    padding-bottom: 130px;

    &__body {
      position: relative;
      display: flex;
    }

    &__slider {
      width: 100%;
    }

    &__slides {
      display: flex;
    }

    &__slide {

      &.is-hidden {
        display: none;
      }
    }
  }
}
