@media (min-width: $min-desktop-width) {

  .gallery {
    padding-top: 140px;

    &__body {
      position: relative;
      display: flex;
      width: 100%;
      overflow: hidden;
    }

    &__wrapper {
      padding-top: 60px;
      z-index: 3;
    }

    &__image-container {
      display: flex;
    }

    &__list {
      // position: relative;
      display: flex;
      width: 705px;
      height: 502px;
    }

    &__list-item {
      position: absolute;
      width: 100%;
      left: 0;

      &[data-state="active"] {
        left: 50%;
        transform: translateX(-50%);
      }

      &[data-state="next"] {
        left: 87%;
        opacity: 0.2;
      }

      &[data-state="invisible-right"] {
        left: 100%;
        opacity: 0;
      }
    }

    &__slider-controls {
      margin-top: 68px;
    }
  }
}
