@media (min-width: $min-desktop-width) {

  .gallery {
    padding-top: 140px;

    &__body {
      position: relative;
      display: flex;
      width: 100%;
    }

    &__content {
      padding-top: 60px;
    }

    &__image-container {
      display: flex;
    }

    &__list {
      display: flex;
    }

    &__list-item {
      display: flex;

      &:nth-child(2) {
        position: absolute;
        right: 0;
      }
    }

    &__slider-controls {
      margin-top: 68px;
    }
  }
}
