@media (min-width: $min-desktop-width) {

  .hero {
    padding-top: 175px;
    padding-bottom: 70px;
    background-image: url('../images/hero-bg.png');
    background-size: cover;

    @media (min-resolution: $retina-dppx), (min-resolution: $retina-dpi) {
      background-image: url('../images/hero-bg.png');
    }

    &__body {
      display: flex;
      box-sizing: border-box;
      color: #ffffff;
    }

    &__wrapper {
      width: 100%;
      padding-left: 220px;
    }


    &__title {
      font-size: 89px;
      line-height: 1.1;
      color: #ffffff;
      margin-bottom: 50px;
    }

    &__text {
      font-size: 18px;
    }

    &__lists {
      display: flex;
      align-items: center;
      margin-top: 100px;
    }

    &__lists-icon {
      display: flex;
      margin-left: auto;
    }

    &__contacts {
      display: flex;
      margin-right: 50px;
    }

    &__contacts-item {
      display: flex;
      height: fit-content;
      align-items: center;
    }

    &__contacts-text {
      margin-left: 10px;
    }

    &__contacts-link {
      margin-left: 10px;
      color: #ffffff;
    }
  }
}
