@media (min-width: $min-desktop-width), (max-width: $max-desktop-width) {

  .hint {
    position: absolute;
    display: flex;

    &__icon {
      align-self: flex-end;
      margin-bottom: 5px;
      fill: #ffffff;
    }

    &__text {
      position: absolute;
      display: flex;
      transform: rotate(-90deg);
      writing-mode: horizontal-tb;
      writing-mode: horizontal-bt;
      font-family: 'Apercu Pro';
      font-size: 14px;
      font-weight: 700;
      letter-spacing: 2px;
      opacity: 0.2;
      text-transform: uppercase;
    }
  }
}
