@media (min-width: $min-desktop-width) {

  .history {
    padding-bottom: 150px;

    &__body {
      display: flex;
      padding-left: 12%;
    }

    &__image-wrapper {
      display: flex;
      margin-left: 12%;
    }
  }
}
