@media (min-width: $min-desktop-width) {

  .history {
    padding-bottom: 150px;

    &__body {
      display: flex;
    }

    &__wrapper {
      display: flex;
      align-items: center;
      margin-right: 30px;
    }

    &__image-wrapper {
      display: flex;
    }

    &__image {
      margin-left: auto;
    }
  }
}
