@media (min-width: $min-desktop-width) {

  .history {
    padding-bottom: 150px;

    &__body {
      display: flex;
      padding-left: 12%;
    }

    &__wrapper {
      padding-top: 115px;
      padding-bottom: 115px;
    }

    &__image-wrapper {
      display: flex;
      margin-left: 12%;
    }
  }
}
