@media (min-width: $min-desktop-width) {

  .menu {

    &__body {
      display: flex;
    }

    &__list {
      display: flex;
    }

    &__list-item {

      & + & {
        margin-left: 30px;
      }
    }

    &__controls {
      display: flex;
    }

    &__control {
      display: flex;
      padding: 10px 45px;
      margin-bottom: 40px;
      color: #c4c4c4;
      letter-spacing: 0.5px;

      &.is-active {
        box-shadow: 0 2px 0 0 #C94D18;
        color: #101010;
      }

      &:hover,
      &:focus {
        color: #101010;
        opacity: 0.7;
      }
    }
  }
}
