@media (min-width: $min-desktop-width), (max-width: $max-desktop-width) {

  .navigation-list {
    display: flex;
    // justify-content: space-between;

    &.theme--light &__link {
      color: #000000;
    }

    &__item {

      & + & {
        margin-left: 2%;
      }
    }

    &__link {
      display: flex;
      padding-top: 10px;
      padding-bottom: 10px;
      color: #ffffff;

      &:active {
        opacity: 0.5;
      }
    }

    &__text {
      font-size: 14px;
      line-height: 1.4;
      text-transform: uppercase;
      padding-top: 8px;
      padding-bottom: 8px;
    }

    &__link:hover &__text,
    &__link:focus &__text {
      color: rgba(255, 255, 255, 0.8);
      box-shadow: 0 1px 0 0 #ffffff;
    }
  }
}
