@media (min-width: $min-desktop-width) {

  .news {
    padding-top: 120px;

    &__body {
      display: flex;
    }

    &__list {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      height: 450px;
    }

    &__list-item {

      &[data-offser="top"] {
        margin-top: 55px;
      }
    }

    &__control {
      margin-top: 70px;
    }

    &__link {
      display: flex;
      align-items: center;
    }

    &__link-text {
      margin-right: 28px;
      color: #656565;
      text-decoration: underline;
    }

    &__link-icon {
      fill: #C94D18;
    }

    &__link:hover &__link-text,
    &__link:focus &__link-text {
      color: #101010;
    }
  }
}
