@media (min-width: $min-desktop-width) {

  .page-header {

    &__body {
      position: absolute;
      top: 0;
      display: flex;
      box-sizing: border-box;
      padding-top: 40px;
      z-index: 2;
    }

    &__logo {
      display: flex;
    }

    &__logo-img {
      fill: #ffffff;

      &.theme--light {
        fill: #C94D18;
      }
    }

    &__navigation {
      height: fit-content;
      margin-left: 30px;
    }

    &__control {
      margin-left: auto;
    }
  }
}

@media (min-width: $max-desktop-width) {

  .page-header {

    &__body {
      left: 50%;
      transform: translateX(-50%);
    }
  }
}
