@media (min-width: $min-desktop-width) {

  .page-header {

    &.sticky-position {
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      z-index: 3;
      height: fit-content;
    }

    &.sticky-position &__body {
      width: 1440px;
      padding: 15px 75px;
      position: fixed;
      left: 0;
      top: 0;
      background-color: #ffffff;
    }

    &.sticky-position &__logo-img {
      fill: #C94D18;
    }

    &__body {
      position: absolute;
      top: 0;
      left: 75px;
      padding-top: 40px;
      display: flex;
      box-sizing: border-box;
      z-index: 2;
    }

    &__logo {
      display: flex;
    }

    &__logo-img {
      fill: #ffffff;
    }

    &__navigation {
      height: fit-content;
      margin-left: 30px;
    }

    &__control {
      display: flex;
      margin-left: auto;
    }
  }
}

@media (min-width: $max-desktop-width) {

  // .page-header {

  //   &__body {
  //     left: 50%;
  //     transform: translateX(-50%);
  //   }

  //   &.sticky-position &__body {
  //     left: 50%;
  //     transform: translateX(-50%);
  //   }
  // }
}
