@media (min-width: $min-desktop-width) {

  .page-footer {

    &__body {
      display: flex;
      padding-right: 40px;
      background-color: #F7F7F7;
    }

    &__map-wrapper {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        top: 306px;
        right: 300px;
        z-index: 2;
        display: block;
        width: 37px;
        height: 37px;
        background-image: url('../images/map-pin.svg');
      }
    }

    &__content {
      display: flex;
      flex-wrap: wrap;
      padding-left: 70px;
      padding-top: 145px;
      padding-bottom: 65px;
    }

    &__block {

      &:nth-child(2) {
        margin-left: 30px;
      }
    }

    &__title {
      color: #C94D18;
      margin-bottom: 20px;
    }

    &__text {
      width: 100%;
      color: #555555;
    }

    &__link {
      color: #555555;

      &:hover,
      &:focus {
        color: rgba(85, 85, 85, 0.8);
        text-decoration: underline;
      }

      &:active {
        opacity: 0.3;
      }
    }

    &__social {
      display: flex;
      margin-top: 10px;
      margin-left: -10px;
    }

    &__social-link {
      display: flex;

      &:hover,
      &:focus {
        fill-opacity: 0.7;
        box-shadow: 0 1px 0 0 #555555;
      }

      &:active {
        opacity: 0.3;
      }
    }

    &__copyright {
      width: 100%;
      margin-top: auto;
      color: #555555;
    }

    &__control {
      padding-top: 150px;
      padding-bottom: 60px;
      margin-left: auto;
    }

    &__button {
      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
      width: 44px;
      padding: 17px 14px;
      border: 1px solid #33384B;
      border-radius: 50%;
      cursor: pointer;
    }
  }
}
