@media (min-width: $min-desktop-width), (max-width: $max-desktop-width) {

  .social {
    display: flex;
    align-items: center;

    &__list {
      display: flex;
      margin-left: 10px;

      &::after {
        content: '';
        position: absolute;
        right: 5%;
        display: block;
        width: 24px;
        height: 24px;
        background-image: url('../images/coffee.svg');
      }
    }

    &__list-item {
      display: flex;
    }

    &__link {
      display: flex;

      &:hover,
      &:focus {
        box-shadow: 0 1px 0 0 #ffffff;
      }

      &:active {
        opacity: 0.3;
      }
    }

    &__icon {
      fill: #ffffff;
    }

    &__link:hover &__icon,
    &__link:focus &__icon {
      fill-opacity: 0.7;
    }
  }
}
