.social {
  display: flex;
  flex-wrap: wrap;
  width: 28.037%;
  align-items: center;

  &__list {
    display: flex;
    margin-left: 10px;
  }

  &__list-item {
    display: flex;
  }

  &__link {
    display: flex;

    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  &__icon {
    fill: #ffffff;
  }

  &__link:hover &__icon,
  &__link:focus &__icon {
    fill-opacity: 0.7;
  }
}
