@media (min-width: $min-desktop-width) {

  .text-content {

    &__text {
      margin-top: 30px;
    }

    &__heading {
      display: flex;
      margin-bottom: 10px;
      font-weight: 700;
      color: #C94D18;
      text-transform: uppercase;
    }
  }
}
